h2 {
    text-align: left;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: normal;
    color:#1E90FF;
}

body { 
    font-family:Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

h1 {
    text-align: center;
    font-family:'Times New Roman', Times, serif;
    color: #503d50;
}

h3 { 
    text-align: center;
    color: black;
}

#esq {
    width: 50%;
    height: 100%;
    background-color: #1C1C1C;
    float: left;
    padding: 20px;
    color: white;
}

#dir {
    text-align: left;
    float: right;
    width: 50%;
    height: 100%;
    color:black;
    background-color: white;
    padding: 20px;
}

hr {
    width: 95%;
    height: 4px;
    background: #1E90FF;
}

.img{
    width: 40%;
}

#corpo {
    width: 50%;
    display: flex;
}

#foto {
    text-align: center;
}